# Dependencies
node_modules
.pnp
.pnp.js

# Build Outputs
dist
build
.next
out
*.zip


# Local Databases & SQLite
*.db
*.db-journal
dev.db
prisma/dev.db

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS & Editor
.DS_Store
Thumbs.db
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Cache
.turbo
.cache
.vite
.eslintcache
